.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/img1.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/img2.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/img3.png);
}
